.flex-row-center-between {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column-center-between {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}