html { overflow: auto; height: 100%; }
body {
  height: 100%;
  overflow: auto;
  padding-top: $top-nav-height;
  &.no-nav {
    padding-top: 0;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: GothamCondensed-Bold, sans-serif;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}
h1 {
  small {
    color: $color-uncolor;
    font-size: 70%;
    margin-left: 0.5rem;
  }
}

.card-header {
  font-family: inherit !important;
  font-weight: 700 !important;
}

.navbar-logo {
  height: 3rem;
  margin-right: 1rem;
}
.nav-link,
.navbar-text {
  color: #fff !important;
  font-family: GothamCondensed-Bold, sans-serif;
  font-size: 1.7rem;
  padding-bottom: 0.15rem;
  padding-top: 0.15rem;
  text-transform: uppercase;
  &:hover, &:active {
    i, svg {
      color: $color-varland-red !important
    }
    span {
      text-decoration: underline;
      text-decoration-color: $color-varland-red;
      text-decoration-thickness: 0.15em;
    }
  }
  i, svg {
    margin-right: 0.25em;
  }
}
.navbar-text {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  i, svg {
    color: $color-varland-red !important
  }
  span {
    text-decoration: underline;
    text-decoration-color: $color-varland-red;
    text-decoration-thickness: 0.15em;
  }
}

.vp-button {
  font-weight: 700;
  text-transform: uppercase;
}

th {
  font-weight: 700;
  text-transform: uppercase;
}
td {
  vertical-align: middle;
}

.card-body, td {
  p:last-child {
    margin-bottom: 0;
  }
}

.form-label {
  font-size: 80%;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0;
  text-transform: uppercase;
}

legend {
  font-size: 1.1rem;
  font-weight: 700;
}

.pagination-input,
.pagination-description {
  font-size: 80%;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  input {
    padding: 0.25rem;
  }
}

.pagination-description {
  margin-top: 0.1rem;
  text-align: center;
}