= form_with(url: add_upload_report_url(@report), local: true, class: ["form-inline", "bg-secondary", "text-light", "p-3", "shadow-sm"]) do |form|

  .form-group
    = form.file_field :uploads, multiple: true, class: ["form-control"], onchange: 'this.form.submit();'